html, body {
  width: 100%;
  height: 100%;
}

.row {
  margin: auto;
  margin-bottom: 1%;
}

#main-container {
  width: 100%;
  max-height: 100%;
  border: 1px solid red;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 2% auto;

  overflow: auto;
}

#video-file {
  word-break: break-all;
  margin: auto;
}

#file-info {
  color: greenyellow;
  position: relative;
  z-index: 3;
  margin-left: -100%;
  width: 0;
  height: 0;
}

#video-container {
  width: 100%;
  height: 50%;
  border: 3px dashed darkgrey;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  max-width: 100%;
  height: 100%;
}

#drop {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: auto;
  z-index: 2;
  color: white;
  background-color: black;
}

#drop > h1 {
  height: 90%; 
  width:100%;
  display:flex;
  align-items: center;
  justify-content: center;
}

#csv-table-container {
  height: 35%;
  overflow: auto;
  border: 1px solid lightgray;
}

#csv-table-container > table {
  width: auto;
}